* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
}

header {
  background: #fff;
  border-bottom: 0.5px solid #D7D7D7;
  height: 80px;
}

header .menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

header .menu ul li a {
  font-size: 15px;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  color: #8F8F8F;
  margin: 0 15px;
}

header .menu ul li a:hover {
  padding-bottom: 10px;
  border-bottom: 0.5px solid #72C8CE;
}

header .menu .contacts .phone {
  font-weight: bold;
  margin-right: 16px;
  font-size: 15px;
  color: #03C0CE;
}

header .menu .contacts .btn-call {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #FF6B00;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 12px;
  height: 30px;
  width: 140px;
}

main .owl-dots {
  display: none;
}

main .main-slider {
  padding: 39px 0 54px 0;
  background: #f7f7f7;
  position: relative;
}

main .main-slider .fix-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
}

main .main-slider .fix-info .main-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  padding: 20px 40px;
  margin-bottom: 30px;
  color: #fff;
  background: #03C0CE;
}

main .main-slider .fix-info .main-text {
  padding: 30px 46px;
  background: #D7D7D7;
}

main .main-slider .owl-nav {
  position: absolute;
  right: 25px;
  bottom: 30px;
}

main .main-slider .owl-nav .owl-prev,
main .main-slider .owl-nav .owl-next {
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: #fff;
  background: #03C0CE;
}

main .main-slider .owl-nav .owl-prev.disabled,
main .main-slider .owl-nav .owl-next.disabled {
  opacity: 1;
  color: #fff;
  background: transparent;
  border: 1px solid #03C0CE;
}

main .main-slider .owl-dots {
  display: none;
}

main .adv {
  padding: 100px 0 120px 0;
}

main .adv .adv-title {
  font-size: 55px;
  font-weight: bold;
  line-height: 67px;
  text-transform: uppercase;
  color: #3B3B3C;
}

main .adv .adv-content {
  padding-top: 68px;
}

main .adv .adv-content .content-box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

main .adv .adv-content .content-box .box .box-img {
  padding-right: 27px;
}

main .adv .adv-content .content-box .box .box-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #767474;
}

main .adv .adv-content .content-box .box .box-text {
  padding-top: 10px;
}

main .adv .adv-content .content-slider .owl-carousel,
main .adv .adv-content .content-slider .owl-stage-outer,
main .adv .adv-content .content-slider .owl-stage,
main .adv .adv-content .content-slider .owl-item,
main .adv .adv-content .content-slider .item {
  height: 100%;
}

main .adv .adv-content .content-slider .owl-carousel img,
main .adv .adv-content .content-slider .owl-stage-outer img,
main .adv .adv-content .content-slider .owl-stage img,
main .adv .adv-content .content-slider .owl-item img,
main .adv .adv-content .content-slider .item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .adv .adv-content .content-slider .owl-nav {
  position: absolute;
  right: 25px;
  bottom: 30px;
}

main .adv .adv-content .content-slider .owl-nav .owl-prev,
main .adv .adv-content .content-slider .owl-nav .owl-next {
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: #fff;
  background: #03C0CE;
}

main .adv .adv-content .content-slider .owl-nav .owl-prev.disabled,
main .adv .adv-content .content-slider .owl-nav .owl-next.disabled {
  opacity: 1;
  color: #fff;
  background: transparent;
  border: 1px solid #03C0CE;
}

main .adv .adv-content .content-slider .owl-nav {
  right: 22px;
  bottom: 15px;
}

main .act {
  position: relative;
  padding: 100px 0 150px 0;
  background: linear-gradient(-160deg, #f7f7f7 63%, #03C0CE 0);
}

main .act .act-title {
  width: 500px;
  font-size: 55px;
  font-weight: bold;
  line-height: 67px;
  text-transform: uppercase;
  color: #3B3B3C;
}

main .act .act-form,
main .act form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .act .act-form-container {
  height: 100%;
  margin-top: 50px;
  padding: 0;
  background: #fff;
  border-radius: 2px;
}

main .act .act-form-container .act-form {
  padding: 41px 85px;
  margin: 10px;
  border-radius: 2px;
  border: 0.5px solid #72c8ce;
}

main .act .act-form-container .act-form .form-title {
  font-size: 33px;
  font-weight: bold;
  line-height: 40px;
  color: #3B3B3C;
}

main .act .act-form-container .act-form .form-text {
  font-size: 14px;
  padding: 15px 0;
  margin: 0;
  color: #8F8F8F;
}

main .act .act-form-container .act-form form input {
  font-size: 16px;
  font-style: italic;
  padding: 15px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #8F8F8F;
}

main .act .act-form-container .act-form .btn-call {
  margin: 40px 0 10px 0;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #FF6B00;
  border-radius: 2px;
  outline: none;
  border: none;
}

main .act .act-form-container .act-form .form-agrees {
  font-size: 11px;
  text-align: center;
  color: #767474;
}

main .act .act-man {
  position: absolute;
  right: 0;
  margin-bottom: -50px;
  top: 172px;
}

main .partners {
  position: relative;
  background: #fff;
  padding: 100px 0;
}

main .partners .partners-title {
  font-size: 55px;
  font-weight: bold;
  line-height: 67px;
  text-transform: uppercase;
  color: #3B3B3C;
}

main .partners .partners-slider {
  margin-top: 70px;
}

main .partners .partners-slider .owl-nav {
  position: absolute;
  right: 25px;
  bottom: 30px;
}

main .partners .partners-slider .owl-nav .owl-prev,
main .partners .partners-slider .owl-nav .owl-next {
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: #fff;
  background: #03C0CE;
}

main .partners .partners-slider .owl-nav .owl-prev.disabled,
main .partners .partners-slider .owl-nav .owl-next.disabled {
  opacity: 1;
  color: #fff;
  background: transparent;
  border: 1px solid #03C0CE;
}

main .partners .partners-slider .owl-nav {
  right: 0;
  bottom: -70px;
}

main .partners .partners-slider .owl-nav .owl-prev.disabled,
main .partners .partners-slider .owl-nav .owl-next.disabled {
  color: #03C0CE;
}

footer {
  position: relative;
  z-index: 7;
  background: #3B3B3C;
  padding: 106px 0 80px 0;
}

footer .container .footer-logo {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}

footer .container .footer-logo img {
  padding-right: 13px;
}

footer .container .footer-contacts {
  margin: 37px 0 25px 0;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

footer .container .footer-contacts img {
  padding-right: 13px;
}

footer .container .btn-call {
  width: 170px;
  height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #FF6B00;
  border-radius: 2px;
  outline: none;
  border: none;
}

footer .container .footer-list {
  list-style-type: none;
  margin-bottom: 0;
}

footer .container .footer-list li a {
  color: #fff;
  font-size: 15px;
}

footer .container .footer-list li:not(:last-child) {
  padding-bottom: 15px;
}

footer .container .micro-info {
  font-size: 10px;
  color: #8F8F8F;
}

footer .container .micro-info .polite {
  padding: 20px 0 50px 0;
}

footer .container .micro-info .sova a {
  color: #8F8F8F;
}
/*# sourceMappingURL=style.css.map */